src/main/app/processVisaGiftCards.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ftp="http://www.mulesoft.org/schema/mule/ee/ftp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/ftp http://www.mulesoft.org/schema/mule/ee/ftp/current/mule-ftp-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
    <flow name="processVisaGiftCards">
        <file:inbound-endpoint path="${master.fileIn}" moveToDirectory="${master.fileProcessed}" responseTimeout="10000" doc:name="File">
            <file:filename-regex-filter pattern=".*csv" caseSensitive="false"/>
        </file:inbound-endpoint>
        <dw:transform-message doc:name="Extract input stream">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="recordCount" value="#[payload.size()]" doc:name="recordCount"/>
        <set-variable variableName="partner" value="#[message.payload[0].partner]" doc:name="partner"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.partner == '${partner1}']">
                <object-to-byte-array-transformer doc:name="Object to Byte Array"/>
                <jms:outbound-endpoint queue="${partner1.queue}" connector-ref="Active_MQ_Local" doc:name="foodnsavingsFlow" exchange-pattern="request-response"/>
            </when>
            <when expression="#[flowVars.partner == '${partner2}']">
                <object-to-byte-array-transformer doc:name="Object to Byte Array"/>
                <jms:outbound-endpoint queue="${partner2.queue}" connector-ref="Active_MQ_Local" doc:name="mealsngoFlow" exchange-pattern="request-response"/>
            </when>
            <when expression="#[flowVars.partner == '${partner3}']">
                <object-to-byte-array-transformer doc:name="Object to Byte Array"/>
                <jms:outbound-endpoint queue="${partner3.queue}" connector-ref="Active_MQ_Local" doc:name="oneretailplusFlow" exchange-pattern="request-response"/>
            </when>
            <otherwise>
                <logger level="INFO" doc:name="Logger" message="#[&quot;\n\n\nPROVIDED PARTNER NOT VALID\n\n\n&quot;]"/>
            </otherwise>
        </choice>
        <set-payload value="Processed #[flowVars.recordCount] gift cards for #[flowVars.partner] with status: #[message.inboundProperties.jmsStatusMessage]" doc:name="Set Payload"/>
        <set-variable variableName="datetimeFormatted" value="#[server.dateTime.format(&quot;yyyy-MM-dd-hh_mm_ss&quot;)]" doc:name="datetimeFormatted"/>
        <file:outbound-endpoint path="${master.fileWrite}" outputPattern="#[flowVars.partner]-gc-report-#[flowVars.dateTimeFormatted].txt" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
